<div class="form-group">
    <% if options[:label].present? %>
        <label><%= options[:label] %></label>
    <% end %>
    <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 140px; height: 140px;">
            <img src="<%= options[:img_src].present? ? options[:img_src] : url_for("/backend/img/placeholder.jpg") %>" alt="" />
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="width: 140px; height: 140px;"> </div>
        <div class="btn-control-file">
            <span class="btn btn-no-color btn-file">
                <span class="fileinput-new"> <i class="icon-link"></i> </span>
                <span class="fileinput-exists"> <i class="fa fa-pencil-square-o"></i> </span>
                <input type="file"
                       name="<%= options[:name] if options[:name].present? %>"
                />
            </span>
            <a href="javascript:;" class="btn btn-no-color fileinput-exists" data-dismiss="fileinput"> <i class="fa fa-remove"></i> </a>
        </div>
    </div>
</div>