<div class="form-group">
    <% if options[:label].present? %>
        <label><%= options[:label] %></label>
    <% end %>
    <div class="mt-element-overlay">
        <div class="mt-overlay-custom mt-overlay-4 mt-overlay-4-icons fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail" style="width: 140px; height: 140px;">
                <img src="<%= options[:img_src].present? ? options[:img_src] : url_for("/backend/img/placeholder.jpg") %>" alt="" /> </div>
            <div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput" style="width: 150px; height: 110px;"> </div>
            <ul class="mt-info">
                <li>
                    <span class="btn-outline btn-file">
                    <span class="btn default green fileinput-new"> <i class="icon-link"></i></span>
                    <span class="btn default green fileinput-exists"> <i class="fa fa-pencil-square-o"></i> </span>
                    <input type="file"
                        name="<%= options[:name] if options[:name].present? %>"
                    >
                    </span>
                </li>
                <li>
                    <span class="btn-outline btn-file">
                    <span class="btn default green fileinput-exists" data-dismiss="fileinput"> <i class="fa fa-remove"></i> </span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>