<div class="form-group">
    <% if options[:label].present? %>
        <label><%= options[:label] %></label>
    <% end %>
    <div class="input-group">
        <div class="icheck-inline">
            <% if options[:radios].present? %>
                <% options[:radios].each_with_index do |radio,id| %>
                    <label>
                        <input type="radio" id="radio-<%= id %>" name="<%= radio.second %>" class="icheck" data-radio="iradio_flat-grey"> <%= radio.first %>
                    </label>
                <% end %>
            <% end %>
        </div>
    </div>
</div>