body {
    background-color: #2b3643;
}
body, h1, h2, h3, h4, h5, h6, .label, .table.table-light>thead>tr>th {
    font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
}
.form-group {
    margin-bottom: 20px;
}
.btn-group>.dropdown-menu.pull-left:before, .dropdown-toggle>.dropdown-menu.pull-left:before, .dropdown>.dropdown-menu.pull-left:before {
    right: auto;
    left: 9px;
}
.page-container-bg-solid .page-bar .page-toolbar .btn, .page-content-white .page-bar .page-toolbar .btn {
    margin-top: 0;
}
.btn-group>.dropdown-menu.pull-left:after, .dropdown-toggle>.dropdown-menu.pull-left:after, .dropdown>.dropdown-menu.pull-left:after {
    right: auto;
    left: 10px;
}
.portlet.light {
    padding: 20px;
    border: solid 1px #ddd;
}
.portlet.datalist>.portlet-title>.caption {
    padding-top: 0;
}
.portlet.datalist>.portlet-title>.actions {
    padding: 0px 0 14px;
}
.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a,
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar .page-sidebar-menu>li>span.title:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    color: rgba(255,255,255,0.8);
    border-top: none;
    font-size: 15px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle>.langname, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i,
.page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a {
    color: rgba(255,255,255,0.8);
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a,
.page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{
    font-size: 15px;
}
.page-sidebar .page-sidebar-menu .sub-menu li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li>a {
    padding: 8px 15px 8px 43px;
    font-size: 15px;
    color: rgba(255,255,255,0.7);
}
.page-sidebar .page-sidebar-menu .sub-menu {
    margin-top: 0;
    margin-bottom: 0;
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    padding: 12px 15px;
}
.page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i {
    color: rgba(255,255,255,0.6);
}
.portlet.light.bordered {
    border: 1px solid #ddd !important;
}
.page-sidebar .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar .page-sidebar-menu>li.open>a>i, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar .page-sidebar-menu>li:hover>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i,
.page-sidebar .page-sidebar-menu>li>a>i[class*=icon-], .page-sidebar .page-sidebar-menu>li>a>i[class^=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class*=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class^=icon-] {
    color: rgba(255,255,255,0.6);
    font-size: 15px;
}
.page-bar .page-title {
    margin: 9px 0;
    font-size: 19px;
    font-weight: 400;
}
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #2b3643;
}
.page-sidebar .page-sidebar-menu .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu {
    background: #212b37;
}
.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
    background: #294567;
}
.page-header.navbar .page-logo .logo-default {
    margin: 8px 14px 0 0;
    height: 30px;
}
.dropdown-menu {
    border-color: #bbb;
    box-shadow: 4px 4px rgba(102,102,102,.2);
}
/* Tooltip */
.tooltip > .tooltip-inner {
    background: #f5f5f5;
    color: #000; 
    border: 1px solid #aaa;
    padding: 7px 10px;
    font-size: 14px;
    box-shadow: 2px 2px rgba(102,102,102,.2);
}

/* Tooltip on top */
.tooltip.top > .tooltip-arrow {
    border-top: 5px solid #aaa;
}

/* Tooltip on bottom */
.tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid blue;
}

/* Tooltip on left */
.tooltip.left > .tooltip-arrow {
    border-left: 5px solid red;
}

/* Tooltip on right */
.tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}
.mt-checkbox>span, .mt-radio>span, .mt-checkbox:hover>input:not([disabled])~span, .mt-checkbox>input:focus~span {
    background: #fff;
    border-color: #aaa;
}
.mt-checkbox:hover>input:not([disabled]):checked~span, .mt-checkbox>input:checked~span, .mt-radio:hover>input:not([disabled]):checked~span, .mt-radio>input:checked~span {
    background-color: #335985;
    border-color: #335985;
    color: #fff;
}
.mt-checkbox>span:after {
    border-color: #fff;
}
.form-control {
    border: 1px solid #a8b5c5;
}
.form-control:focus {
    border: 1px solid #50749f;
}
.modal-custom-blue .modal-header {
    background-color: #317aac;
    color: #fff;
    padding: 10px 15px !important;
}
.modal-custom-blue .modal-header .close {
    color: rgba(255,255,255,0.6);
    text-indent: 0;
    margin-right: 5px;
    background-image: inherit !important;
}
