a:hover {
    text-decoration: none;
}
.btn-group-checkable .dropdown-menu>li>a {
    padding-left: 30px;
}
.btn-group-checkable .dropdown-menu>li.checked>a {
    color: #217ebd;
    padding-left: 12px;
}
.btn-group-checkable .dropdown-menu>li.checked>a:before {
    content: "\f00c ";
    font: normal normal normal 14px/1 FontAwesome;
}
.page-header.navbar .hor-menu .navbar-nav>li.active>a>i, .page-header.navbar .hor-menu .navbar-nav>li.current>a>i {
    color: #fff;
}
.form-group.list-filters-search {
    padding: 0;
    display: inline-block;
    margin: 0 20px 0 0;
}
.list-search-item button {
    border-radius: 0 !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}
.list-search-items {
    display: inline-block;
    margin-right: 10px;
}
.list-search-items .or-cond {
    text-transform: lowercase !important;
    font-style: italic;
}
.table-advance thead tr th {
    font-weight: 500;
}
.list-search-items .btn-group {
    margin-right: 5px;
}
.page-bar .page-title {
    display: inline-block;
    font-weight: 400;
    letter-spacing: -0.5px;
}
@media (max-width: 767px) {
    .page-content-wrapper .page-content .page-bar .page-title {
        margin: 8px;
    }
}
.datalist-search-helper {
    position: absolute;
    background: #fff;
    width: 300px;
    border: solid 1px #ccc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    right: 0;
    z-index: 1;
}
.datalist-search-helper ul {
    padding: 0;
    margin: 0;
}
.datalist-search-helper ul li {
    list-style: none;
}
.datalist-search-helper ul li a {
    padding: 7px 10px;
    display: block;
    color: #333;
}
.datalist-search-helper ul li a:hover {
    text-decoration: none;
    background-color: #e1e5ec;
}
.datalist-search-helper ul:hover li:first-child a {
    text-decoration: none;
    background-color: #fff;
}
.datalist-search-helper ul:hover li:first-child a:hover {
    text-decoration: none;
    background-color: #e1e5ec;
}
.datalist-search-helper .keyword {
    font-style: italic;
}
.datalist-search-helper {
    display: none;
}
.ktext {
    text-transform: none;
}
.padding-clear {
    padding: 0;
}
.dataselect {
    position: relative;
}
.dataselect-data {
    position: absolute;
    width: 100%;
    z-index: 10056;
    max-height: 200px;
    overflow: auto;
}
.dataselect-data ul {
    background: #fff;
    padding: 0;
    border: solid 1px #50749f;
    margin: 0;
    margin-top: -2px;
    border-top-color: #ccc;
}
.dataselect-data ul li {
    list-style: none;
}
.dataselect-data ul li a {
    display: block;
    padding: 7px 10px;
    color: #333;
}
.dataselect-data ul li.create-new a, .dataselect-data ul li.create-edit a {
    font-size: 13px;
    background: #f5f5f5;
}
.dataselect-data ul li a:hover {
    background-color: #e1e5ec;
    text-decoration: none;
}
.dataselect-data ul li:last-child a {
    border-bottom: none;
}
.new_contact .mt-element-overlay .mt-overlay-4 {
    text-align: right;
}
.tabbable-custom>.tab-content {
    padding: 10px 15px;
}
div.btn-control-file {
    /*margin-top: -45px;*/
    text-align: center;
}
.btn-no-color {
    color: #fff;
    border: solid 1px #999;
}
.btn-no-color:hover {
    color: #fff;
    border: solid 1px #999;
}
.dataselect-data {
    display: none;
}
.text-bold {
    font-weight: 600;
}
.dataselect-input-group {
    position: relative
}
.dataselect .pointer {
    border-color: #999 transparent transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    height: 0;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 18px;
    width: 0;
    right: 12px;
}
.dataselect.active .pointer {
    border-color: transparent transparent #999 transparent;
    border-width: 0 4px 4px 4px;
}
.right {
    text-align: right;
}
.has-error .input-icon>i.icon-default-color {
    color: #ccc;
}
div.sm-title {
    font-size: 12px;
}
div.alert.custom-box-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,.1),0 0px 2px rgba(0,0,0,.18);
}
.dataselect-edit-button {
    position: absolute;
    right: 30px;
    padding: 4px 7px;
    top: 4px;
    height: 26px;
    display: none;
}
.dataselect-data ul li.dataselect-empty a {
    color: #aaa;
}
.dataselect-edit-button:hover {
    background: #ddd;
    cursor: pointer;
}
.datalist-list-action {
    display: none;
}
.dataselect-input-group.multiple {
    padding: 0px;
    border: solid 1px #c2cad8;
    padding-right: 25px;
}
.multiselect-values-container, .multiselect-names-container {
    display: inline-block;
    line-height: 0px;
    vertical-align: top;
    padding: 2px 2px 0;
}
.dataselect-value-box, .dataselect-name-box {
    vertical-align: top;
    margin-bottom: 4px;
}
.dataselect-input-group.multiple .dataselect-control {
    display: inline-block;
    width: 50%;
    border: none;
    padding-left: 2px;
    padding-right: 0;
}
.mt-checkbox>span.check-half:after {
    left: 3px;
    top: -1px;
    width: 10px;
    height: 10px;
    border: solid #fff;
    border-width: 0 0 2px 0;
    transform: none;
}
th.sortable {
    cursor: pointer;
}
th.sortable:hover {
    background: #eee;
}
.sortable.current:after {
    content: "\f0d8";
    font: normal normal normal 14px/1 FontAwesome;
    float: right;
    padding-right: 10px;
    display: inline-block;
    margin-left: -10px;
}
.sortable[sort-direction=desc]:after {
    content: "\f0d7";
}
span.tag-border-radius {
    border-radius: 10px !important;
}
.fileinput-preview span {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 0;
}
.fileinput-preview.thumbnail > img {
    max-height: none;
    max-width: none;
}
.toast-top-right {
    bottom: 20px;
    top: auto;
}
.tabbable-custom {
    overflow: inherit;
}.datalist-search-helper ul li {
    position: relative;
    border-bottom: solid 1px #ddd;
}
.datalist-search-helper ul li:last-child {
    border-bottom: none;
}
.datalist-search-helper ul li a.has-keyword-select {
    padding-right: 20px;
}
.datalist-search-helper ul li .keyword-select-pointer {
    top: 0;
    position: absolute;
    padding: 8px 10px;
    right: 0;
    cursor: pointer;
}
.datalist-search-helper ul li .keyword-select-pointer:after {
    content: "\f0d7";
    font: normal normal normal 14px/1 FontAwesome;
    float: right;
    padding-left: 10px;
    display: inline-block;
    margin-left: -10px;
}
.datalist-search-helper ul li .keyword-select-pointer.open:after {
    content: "\f0d8";
}
.datalist-search-helper ul li ul {
    display: none;
    background: #f6f6f6;
    border-top: solid 1px #ddd;
}
.datalist-search-helper ul li ul li a {
    padding-left: 40px;
}
.nav-tabs li a.has_error {
    color: #e73d4a;
    font-weight: 600;
}
.mt-25 {
    margin-top: 25px;
}
.images-upload .image-box {
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}
.images-upload .image-box .remove-image {
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: 20px !important;
    height: 30px;
    opacity: 01;
    padding: 5px;
    width: 30px;
}
.images-upload .image-box .remove-image:hover {
    opacity: 1;
}
i.right {
    float: right;
    color: #ccc;
    cursor: pointer;
}
i.right:hover {
    color: #333;
}
i.default {
    color: #ccc;
    cursor: pointer;
}
i.default:hover {
    color: #333;
}
.datalist>.portlet-title {
    border-bottom: none;
    margin-bottom: 0;
}
.form-control-mb-0 .form-group, .form-control-mb-0 .form-group label {
    margin-bottom: 0 !important;
}
.form-control-mb-10 .form-group {
    margin-bottom: 10px !important;
}
.tabbable-custom>.tab-content {
    padding: 20px;
}
.form-group i {
    font-size: 16px;
}
.mt-checkbox-inline .mt-checkbox {
    margin-right: 0;
}
.dataselect-data ul li.dataselect-empty a {
    color: #555;
}
.datalist-empty-line {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    background: #f8f8f8;
    margin-top: -9px;
}
.table .title {
    font-weight: 500;
}
.addableform-table table .form-group {
    margin-bottom: 5px;
}
.datalist-search-helper li.no-record {
    opacity: 0.5;
}

/*-------------------------------------------*/
.addableform-table table .form-group textarea {
    width: 190px;
    height: 35px;
}
.addableform-table table .form-group input {
    width: 120px;
}
/*-------------------------------------------*/

.invoice-content-2 .invoice-head .order-detail {
    text-align: right;
    font-size: 14px;
    color: #7e8691;
}
.invoice-content-2 .invoice-head .company-address-left {
    text-align: left;
    font-size: 14px;
}
.invoice-content-2 .invoice-head .invoice-title {
    text-align: center;
}
.invoice-content-2 .invoice-head .invoice-title>h1 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0
}
.invoice-content-2 .invoice-head .invoice-title>h2 {
    font-size: 14px;
    margin-top: 0px;
}
.invoice-content-2 .head {
    margin-bottom: 20px;
}
.invoice-title.text {
    color: #000;
}
.invoice-title.title {
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
h2.invoice-title.sign {
    font-size: 14px;
    font-weight: 600;
}
span.inv-sign {
    font-size: 13px;
    color: #7e8691;
    font-weight: 400;
    font-style: italic;
}
.sign .invoice-desc {
    margin-top: 45px;
}
.invoice-content-2 .invoice-content {
    margin-bottom: 50px;
}
span.invoice-title {
    float: left;
}
.invoice-logo h1 span {
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
}
.invoice-logo>h1.uppercase.head {
    font-size: 24px;
    margin-top: 17px;
}
.row.date {
    float: right;
}
.row.sign {
    clear: both;
}
h2.invoice-title.title {
    line-height: 0;
}
.tr-expand-button {
    background: #2b3643;
    color: #fff;
    height: 19px;
    width: 19px;
    float: left;
    margin-right: 10px;
    padding: 3px 4px 4px 4px;
    border-radius: 20px;
    cursor: pointer;
}
.tr-expand-button:hover {
    opacity: 0.8;
}
.opened i.tr-expand-button:before {
    content: "\f068";
}
.child-td {
    padding: 10px !important;
}
.child-row, .child-row:hover>td, .table-hover > tbody > tr.child-row:hover > td {
    background: #e3e4e6 !important;
}
.top-datalist div#reportrange {
    background-color: #ffffff;
    margin-bottom: 5px;
}
.fileinput-fullwidth {
    width: 100%;
}
.icon-big {
    font-size: 16px;
}
span.tooltips {
    cursor: pointer;
}
.dataselect-input-group.multiple .dataselect-control {
    width: calc(100% - 15px);
    background: none;
}
.dataselect-value-item {
    text-transform: inherit !important;
}
.pl-20 {
    padding-left: 20px;
}
.property-value-select .form-group {
    margin-bottom: 5px;
}
.bg-dark {
    background: #555;
}
.bg-grey {
    color: #555;
}
.permissions-container .form-group {
    margin-bottom: 0;
}
.permissions-container h5 {
    margin-bottom: 0;
}
.dropdown.active .pointer:hover {
    cursor: pointer;
}
.dropdown ul.dropdown-menu {
    min-width: 100%;
}
.format-price {
    font-family: Arial, sans-serif;
}
