<div class="btn-group">
    <a class="btn btn-sm sbold btn-primary" href="<%= options[:href] if options[:href].present? %>"><i class="fa fa-plus"></i> <%= options[:name] if options[:name].present? %></a>
</div>