<% content_for :title do %>Tạo Nhóm Tài Khoản Mới<% end %>
<% content_for :page_title do %><%= link_to '<i class="fa fa-users"></i> Danh Sách Nhóm Tài Khoản'.html_safe, erp.backend_user_groups_path %> / Tạo Nhóm Tài Khoản Mới<% end %>
<div class="row"><div class="col-md-12"><% if @user_group.errors.any? %><%= erp_form_control('form_error_message') %><% end %><%= render 'form', user_group: @user_group %></div></div>