<% if !options[:user].nil? %>
    <div class="userpic">
        <div class="list-userpic"><% if options[:user].avatar.present? %><%= image_tag options[:user].avatar.system, class: 'img-circle' %><% else %><%= image_tag "/backend/img/placeholder.jpg", class: 'img-circle' %><% end %></div>
        <div class="list-usertitle"><div class="list-usertitle-name"><%= user_short_name(options[:user].name) %></div></div>
    </div>
<% else %>
    <div class="userpic"><div class="list-userpic"><%= image_tag '/backend/img/placeholder.jpg', class: 'img-circle' %></div><div class="list-usertitle"><div class="list-usertitle-name">N/A</div></div></div>
<% end %>