<div class="btn-group btn-group-checkable">
    <a class="btn btn-default" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="fa fa-th-list"></i> Columns
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-left">
        <% actions.each do |act| %>
            <% if act[:divider] %>
                <li class="divider"></li>
            <% else %>
                <li>
                    <a href="javascript:;" class="<%= "checked" if act[:checked] %>">
                        <%= act[:text].html_safe %>
                    </a>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>