<div class="btn-group">
    <a class="btn btn-default btn-xs" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        Actions
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-right">
        <% actions.each do |act| %>
            <% if act[:divider] %>
                <li class="divider"></li>
            <% else %>
                <li>
                    <a
                        href="<%= act[:href] if act[:href].present? %>"
                        data-method="<%= act['data-method'] if act['data-method'].present? %>"
                        class="<%= act[:class] if act[:class].present? %>"
                    >
                        <%= act[:text].html_safe %>
                    </a>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>    