<form class="search-form" action="extra_search.html" method="GET">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="<%= t('.search') %>" name="query">
        <span class="input-group-btn">
            <a href="javascript:;" class="btn submit">
                <i class="icon-magnifier"></i>
            </a>
        </span>
    </div>
</form>