<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <div class="page-logo">
            <%= render partial: 'layouts/erp/backend/header/logo' %>
            <div class="menu-toggler sidebar-toggler"><span></span></div>
        </div>
        <%= render partial: 'layouts/erp/backend/header/mega_menu' %>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"><span></span></a>
        <%= render partial: 'layouts/erp/backend/header/top_navigation_menu' %>
    </div>
</div>