<div class="hor-menu hidden-sm hidden-xs">
    <ul class="nav navbar-nav home-back">
        <!-- DOC: Remove data-hover="megamenu-dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
        <li class="classic-menu-dropdown" aria-haspopup="true" data-erp-hook='mega-menu'>
        </li>        
    </ul>
</div>