<div class="hor-menu hidden-sm hidden-xs">
    <ul class="nav navbar-nav">
        <!-- DOC: Remove data-hover="megamenu-dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
        <li class="classic-menu-dropdown active" aria-haspopup="true">
            <%= link_to 'Active <span class="selected"></span>'.html_safe, erp.backend_path %>
        </li>
        <li class="mega-menu-dropdown" aria-haspopup="true">
            <a href="javascript:;" class="dropdown-toggle" data-hover="megamenu-dropdown" data-close-others="true"> Mega
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" style="min-width: 700px;">
                <li>
                    <!-- Content container to add padding -->
                    <div class="mega-menu-content">
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="mega-menu-submenu">
                                    <li>
                                        <h3>Section 1</h3>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="mega-menu-submenu">
                                    <li>
                                        <h3>Section 2</h3>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="mega-menu-submenu">
                                    <li>
                                        <h3>Section 3</h3>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Example Link</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="mega-menu-dropdown mega-menu-full" aria-haspopup="true" data-hover="megamenu-dropdown" data-close-others="true">
            <a href="javascript:;" class="dropdown-toggle" data-hover="megamenu-dropdown" data-close-others="true"> Full Mega
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <!-- Content container to add padding -->
                    <div class="mega-menu-content ">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-3">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <h3>Section 1</h3>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <h3>Section 1</h3>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <h3>Section 1</h3>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <h3>Section 4</h3>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Example Link</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="accordion" class="panel-group">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed"> Mega Menu Info #1 </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse in">
                                            <div class="panel-body"> Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements. </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed"> Mega Menu Info #2 </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body"> Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements. </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Mega Menu Info #3 </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body"> Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements. </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="classic-menu-dropdown" aria-haspopup="true">
            <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true"> Classic
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-left">
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-bookmark-o"></i> Section 1 </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-user"></i> Section 2 </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-puzzle-piece"></i> Section 3 </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-gift"></i> Section 4 </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-table"></i> Section 5 </a>
                </li>
                <li class="dropdown-submenu" aria-haspopup="true">
                    <a href="javascript:;">
                        <i class="fa fa-envelope-o"></i> More options </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:;"> Second level link </a>
                        </li>
                        <li class="dropdown-submenu" aria-haspopup="true">
                            <a href="javascript:;"> More options </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="index.html"> Third level link </a>
                                </li>
                                <li>
                                    <a href="index.html"> Third level link </a>
                                </li>
                                <li>
                                    <a href="index.html"> Third level link </a>
                                </li>
                                <li>
                                    <a href="index.html"> Third level link </a>
                                </li>
                                <li>
                                    <a href="index.html"> Third level link </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="index.html"> Second level link </a>
                        </li>
                        <li>
                            <a href="index.html"> Second level link </a>
                        </li>
                        <li>
                            <a href="index.html"> Second level link </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>