<div class="page-bar">
    <%= render_breadcrumbs :builder => Erp::BootstrapBreadcrumbsBuilder, :separator => '<i class="fa fa-circle"></i>' %>
    <div class="page-toolbar">
        <%= yield :page_toolbar %>        
    </div>
</div>