body {
    font-family: 'Arial';
    font-size: 12px;
}
.text-small {
    font-size: 11px;
}
.header {
    height: auto;
    font-size: 11px;
    float: left;
    width: 100%;
    line-height: 14px;
}
.header .left {
    float: left;
    white-space: nowrap;
}
.header .left .line-1 {
    font-weight: 600;
}
.header .left .line-2 {

}
.header .right {
    float: right;
    white-space: nowrap;
    color: #999;
    font-style: italic;
    font-size: 11px;
}
.header .right .line-1 {

}
.title {

}
.title .center {
    text-align: center;
}
.title .center .line-1 {
    font-size: 15px;
    font-weight: 600;
}
.title .center .line-2 {
    font-size: 11px;
}
.main_info {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    line-height: 14px;
}
.main_info p {
    margin: 0;
    margin-bottom: 0;
}
.main_info .col-1, .main_info .col-2, .main_info .col-3 {
    display: inline-block;
    float: left;
    margin-right: 10px;
    white-space: nowrap;
}
.main_info .col-1 {
    width: 50%;
}
.main_info .col-3 {
    float: right;
}
#content {
    margin-top: 5px;
}
table.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 3px;
    line-height: 14px;
}
table.table tr {

}
table.table tr th {
    border: solid 1px #333;
    text-align: center;
    padding: 1px 5px;
    white-space: nowrap;
    font-size: 11px;
}
table.table tr td {
    border: solid 1px #333;
    padding: 2px 5px;
}
table.table tr td p {
    margin: 0;
    margin-bottom: 0;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.table-footer {
    white-space: nowrap;
    padding: 2px 5px;
    text-align: right;
    border: solid 1px #333;
    width: calc(100% - 12px);
    border-top: none;
}
.table-footer label {
    display: inline-block;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 1px;
}
.table-footer span {
    display: inline-block;
    width: 100px;
    font-weight: 600;
    margin-bottom: 0;
}
.footer {
    float: left;
    width: 100%;
}
.footer .col {
    float: left;
}
.liner {
    margin: 0 4px 0 4px;
}
.sign_name {
    font-weight: 600;
    margin-top: 50px;
}
.footer .bottom.left {
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    opacity: .6;
    font-style: italic;
    font-size: 11px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-30 {
    margin-right: 30px;
}
